@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    position: relative;
}
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}
h1 {
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
}
main, section {
    padding: 20px;
    border: 2px solid #ffffff;
    border-radius: 12px;
    margin: 20px;
}
h2, p, a {
    color: #ffffff;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    text-decoration: underline;
}
iframe {
    border: none;
    margin-bottom: 20px;
    border-radius: 12px;
}
.toggle-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.toggle-button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle-button:hover {
    background-color: #cccccc;
}
.arrow {
    margin-left: 10px;
    transition: transform 0.3s;
}
.arrow-up {
    transform: rotate(180deg);
}
#music-section, #artists-section, #basic-section {
    display: none;
    border: none;
    margin: 0;
    padding: 0;
}
#birthday-message {
    display: none;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ffffff;
    border-radius: 12px;
    background-color: #1f1f1f;
}
#birthday-message textarea {
    width: 100%;
    height: 100px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
}
#birthday-message button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#birthday-message button:hover {
    background-color: #cccccc;
}

/* Additional styles for mobile */
@media (max-width: 768px) {
    #video-background video {
        min-width: 100vw;
        min-height: 100vh;
    }
}
